$font_family: lato, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$basetextcolor: #333333;
$base_bg_color: #f2f2f2;
$login_bg_background: #434bdf;
$login_bg_background_image: linear-gradient(to bottom, white, rgba(136, 13, 252, 0.5));
$font-weight:normal;
$text_lite: #ffffff;
$text_dark: #000000;
$btn_lite: #ffffff;
$btn_dark: #0062cc;
$btn_border: 30px;
$bg_lite: #ffffff;
$bg_error: #231f20;
$error_text: #ff0000;
$success_text: #00ff21;


